<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Evaluasi</title>
     <link rel="stylesheet" href="../assets/evaluasi.css">
</head>
<body>
     <p id="p1">
          Hukum Pascal berbunyi, "Tekanan yang diberikan pada zat cair di dalam ruang tertutup akan diteruskan oleh zat cair itu ke segala arah dengan sama besar."
     </p>

     <p id="p2">
          Sang fisikawan, menemukan hukum tersebut saat melakukan eksperimen yang dikenal dengan percobaan Torricelli. Eksperimen tersebut sekaligus menjadi tonggak sejarah penemuan hukum tekanan zat cair.
     </p>

     <p id="p3">
          Menariknya, hukum pascal tersebut lahir dari percobaan yang hanya menggunakan alat-alat sederhana. Pria jenius ini hanya menggunakan kantong plastik</p>
</body>
</html>