<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="../assets/latihan2.css">
</head>
<body>
     <div>
          <h5 id="judul">Mata Pelajaran</h1>
          <h6>Pemograman WEB</h2>
          <p>Jadwal
               <ul>
                    <li class="biru">Hari : Selasa</li>
                    <li class="coklat">Mulai : 06.30</li>
                    <li class="ungu">Selesai : 12.30</li>
               </ol>
          </p>
     </div>
</body>
</html>